---
import ButtonTag from "@components/control/ButtonTag.astro"
import WidgetWrapper from "@components/widget/WidgetWrapper.astro"
import { SiteText } from "@constants/site-texts"
import { getTagList } from "@utils/content-utils"

const tags = await getTagList()

const COLLAPSED_HEIGHT = "7.5rem"

const isCollapsed = tags.length >= 20

interface Props {
	class?: string
	style?: string
}

const { class: className, style } = Astro.props
---

<WidgetWrapper
	name={SiteText.tags}
	id="tags"
	isCollapsed={isCollapsed}
	collapsedHeight={COLLAPSED_HEIGHT}
	style={style}
	class:list={className}
>
	<div class="flex flex-wrap gap-2">
		{
			tags.map((t) => (
				<ButtonTag
					href={`/archive/tag/${t.name}`}
					label={`View all posts with the ${t.name} tag`}
				>
					{t.name}
				</ButtonTag>
			))
		}
	</div>
</WidgetWrapper>
