---
import { SiteText } from "@constants/site-texts"
import { formatDateToYYYYMMDD } from "@utils/data-utils"
import Calendar from "./icons/Calendar.astro"
import Menu from "./icons/Menu.astro"
import Tag from "./icons/Tag.astro"

interface Props {
	class?: string
	published: Date
	tags: string[]
	category: string
	hideTagsForMobile?: boolean
}
const { published, tags, category, hideTagsForMobile } = Astro.props
const className = Astro.props.class

const getUrl = (tag: string) => {
	return `/archive/tag/${tag}`
}
const getLabel = (tag: string) => {
	return `View all posts with the ${tag} tag`
}
---

<div
	class:list={["flex flex-wrap items-center gap-4 gap-x-4 gap-y-2", className]}
>
	<!-- publish date -->
	<div class="flex items-center">
		<div class="meta-icon">
			<Calendar size="20" class="text-primary" />
		</div>
		<span class="text-xs font-medium">{formatDateToYYYYMMDD(published)}</span>
	</div>
	<!-- categories -->
	<div class="flex items-center">
		<div class="meta-icon">
			<Menu size="20" class="text-primary" />
		</div>
		<div class="flex flex-row flex-nowrap">
			<div>
				<a
					href=`/archive/category/${category || "uncategorized"}`
					aria-label=`View all posts in the ${category} category`
					class="link-secondary whitespace-nowrap text-xs font-medium transition"
				>
					{category || SiteText.uncategorized}
				</a>
			</div>
		</div>
	</div>
	<!-- tags -->
	<div
		class:list={[
			"items-center",
			{ "flex": !hideTagsForMobile, "hidden md:flex": hideTagsForMobile },
		]}
	>
		<div class="meta-icon">
			<Tag size="20" class="text-primary" />
		</div>
		<div class="flex flex-row flex-nowrap">
			{
				tags &&
					tags.length > 0 &&
					tags.map((tag) => (
						<div class="with-divider">
							<a
								href={getUrl(tag)}
								aria-label={getLabel(tag)}
								class="link-secondary whitespace-nowrap  rounded-md text-xs font-medium transition"
							>
								{tag}
							</a>
						</div>
					))
			}
			{
				!(tags && tags.length > 0) && (
					<div class="text-xs font-medium transition">{SiteText.noTags}</div>
				)
			}
		</div>
	</div>

	<style>
		@tailwind components;

		@layer components {
			.meta-icon {
				@apply mr-2 flex h-8 w-8 items-center justify-center rounded-md transition;
			}
			.with-divider {
				@apply before:ml-1.5 before:mr-1.5 before:text-xs before:font-medium
					before:transition before:content-['/'] before:first-of-type:hidden;
			}
		}
	</style>
</div>
