---
import { getPostUrlBySlug } from "@utils/url-utils"
import PostCard from "./PostCard.astro"
import Section from "./Section.astro"

const { posts } = Astro.props

console.log(posts)
---

<Section class="flex items-center justify-center">
	{
		posts.map(
			(entry: {
				data: {
					draft: boolean
					title: string
					tags: string[]
					category: string
					date: Date
					image: string
					description: string
				}
				slug: string
			}) => {
				return (
					<PostCard
						entry={entry}
						title={entry.data.title}
						tags={entry.data.tags}
						category={entry.data.category}
						date={entry.data.date}
						url={getPostUrlBySlug(entry.slug)!}
						image={entry.data.image}
						description={entry.data.description}
					/>
				)
			}
		)
	}
</Section>
