---
import { getPostUrlBySlug } from "@utils/url-utils"
import PostCard from "./PostCard.astro"

const { page } = Astro.props

// Animation onload delay
let delay = 0
const interval = 50
---

<div
	class="mb-4 flex flex-col py-1 transition md:gap-4 md:bg-transparent md:py-0"
>
	{
		page.data.map(
			(entry: {
				data: {
					draft: boolean
					title: string
					tags: string[]
					category: string
					published: Date
					cover: ImageMetadata
					description: string
				}
				slug: string
			}) => {
				return (
					<PostCard
						entry={entry}
						title={entry.data.title}
						tags={entry.data.tags}
						category={entry.data.category}
						published={entry.data.published}
						url={getPostUrlBySlug(entry.slug)!}
						cover={entry.data.cover}
						description={entry.data.description}
						style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
					/>
				)
			}
		)
	}
</div>
